@font-face {
  font-family: 'Dosis';
  src: url('File://' + __dirname + '/resources/fonts/Dosis.woff2') format('woff2');
}

/*
**  Document variables
*/

:root {
  --red:     250, 150, 150;
  --yellow:  250, 220, 150;
  --green:   150, 250, 150;
  --blue:    100, 200, 250;
  --blue-shadow: 50, 100, 150;
  --circle-radius: 5.8em;
  --circle-bg-opa: 0.2;
  --loading-rate: 8000ms;
  --loading-shadow-radius: 1px;
}

/*
**  Generic classes
*/

body {
  font-family: 'dosisregular';
  margin: 0;
  background-color: #333;
}

.title {
  color: #FFF;
  text-shadow: 0px 0px 2px #FFF;
}

/*
**  Container
*/

.container {
  width: 100%;
  height: 100%;
  display: flex;
}

/*
**  Global frame
*/

.global_frame {
  --frame-radius: 1em;
  width: 100%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid #CCC;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: var(--frame-radius);
  overflow: hidden;
}

/*
**  Gun frame classes
*/

#frame {
  position: relative;
}

#frame img {
  position: absolute;
  max-width: 100%;
}

/*
**  Loading screen
*/

#loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 2.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  transition: 600ms;
  z-index: 1000;
}

.loading {
  position: relative;
  color: rgb(var(--red));
  text-shadow: 0px 0px var(--loading-shadow-radius) rgb(var(--red));
  z-index: 1;
  animation: loading_text var(--loading-rate) ease-in-out infinite;
}

#load_title {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

#load_title img {
  margin: 20px;
  width: 150px;
  max-width: 50%;
  border: 3px double #CCC;
  border-radius: 10%;
  opacity: 0.6;
  transition: 0.2s;
}

#load_title img:hover {
  cursor: pointer;
  opacity: 1.0;
  transition: 0.2s;
}

.circle {
  position: absolute;
  width: var(--circle-radius);
  height: var(--circle-radius);
  left: calc(50% - var(--circle-radius) / 2);
  top: calc(50% - var(--circle-radius) / 2);
  border: 0.1em solid;
  border-top-color:     rgb(var(--red));
  border-right-color:   rgb(var(--yellow));
  border-bottom-color:  rgb(var(--green));
  border-left-color:    rgb(var(--blue));
  border-radius: 50%;
  background-color: rgba(var(--red), var(--circle-bg-opa));
  animation: loading_circle var(--loading-rate) ease-in-out infinite;
  transition: 0.3s;
  opacity: 0.0
}

/*
**  Main header
*/

#header {
  position: relative;
  padding: 10px;
  text-align: center;
  color: #333;
  background-color: #555;
  text-shadow: 0px 0px 1px #FFF;
  box-shadow: 0px 0px 5px #000;
  z-index: 100;
}

#header h1 {
  font-size: 1.5em;
  margin: 0;
}

#header h2 {
  margin: 0;
  font-size: 1.2em;
  font-style: italic;
  color: rgb(var(--green))
}

#header select, #header button {
  height: 2em;
  width: 100px;
  font-size: 0.7em;
  color: #FFF;
  background-color: #333;
  border-width: 1px;
  border-radius: 5px;
}

/*
**  Hub
*/

#hub {
  position: relative;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #CCC;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 5px #333;
  z-index: 50;
}

/*
**  Nodes list
*/

#menu {
  height: 100%;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.node_button {
  --button-margin: 6px;
  width: 85%;
  margin-top: 5px;
  padding: 5px;
  text-align: right;
  font-size: 13px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.7);
  background-color: rgba(var(--blue), 0.5);
  transition: 0.1s;
}

.node_button:hover {
  width: 100%;
  cursor: pointer;
  transition: 0.1s;
}

/*
**  Preview
*/

#preview {
  position: relative;
  width: 100%;
}

#preview img {
  position: absolute;
  width: 100%;
  opacity: 0.2;
  transition: 0.3s;
}

/*
**  Parts list
*/

#sublist {
  width: 90%;
  height: 0;
  margin: 5px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  transition: 0.2s;
  overflow-y: hidden;
}

#sublist div {
  width: 80%;
  padding: 5px;
  margin-top: 5px;
  font-size: 13px;
  text-align: right;
  white-space: nowrap;
  background-color: rgba(var(--yellow), 0.5);
  transition: 0.1s;
}

#sublist div:hover {
  width: 90%;
  cursor: pointer;
  transition: 0.1s;
}
