@font-face {
  font-family: 'Dosis';
  src: url('resources/fonts/Dosis-Regular.ttf') format('ttf');
  font-weight: 400;
  font-style: normal;
}

/*
**  Document variables
*/

:root {
  --red:     250, 150, 150;
  --yellow:  250, 220, 150;
  --green:   150, 250, 150;
  --blue:    100, 200, 250;
  --circle-radius: 5.5em;
  --circle-bg-opa: 0.3;
}

/*
**  Generic classes
*/

body {
  font-family: 'Dosis';
}

.title {
  color: #FFF;
  text-shadow: 0px 0px 2px #FFF;
}

/*
**  Loading screen
*/

#loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 2.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333;
  z-index: 1000;
}

#loading p {
  position: relative;
  z-index: 1;
}

.circle {
  position: absolute;
  width: var(--circle-radius);
  height: var(--circle-radius);
  left: calc(50% - var(--circle-radius) / 2);
  top: calc(50% - var(--circle-radius) / 2);
  border: 0.1em solid;
  border-top-color:     rgb(var(--red));
  border-right-color:   rgb(var(--yellow));
  border-bottom-color:  rgb(var(--green));
  border-left-color:    rgb(var(--blue));
  border-radius: 50%;
  background-color: rgba(var(--red), var(--circle-bg-opa));
  animation: loading_circle 8000ms ease-in-out infinite;
}

/*
**  Main header
*/

#header h1 {
  display: flex;
  align-items: center;
}
